$bg-0: #171717; // Slightly lighter dark base to reduce harshness

// Dark theme needs a bigger contrast compared to the white theme.
$bg-1: lighten($bg-0, 5%);
$bg-2: lighten($bg-1, 10%);

$text-0: lighten($bg-0, 70%); // Slightly dimmer primary text for dark theme
$text-1: lighten($bg-0, 60%);

:root.dark {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  --primary-color: #428bca;
  --hover-color: var(--text-0);

  .social>img {
    filter: invert(1);
  }
}