$bg-0: #fff;
$bg-1: darken($bg-0, 2%);
$bg-2: darken($bg-1, 8%);
$bg-3: #eee;

$text-0: darken($bg-0, 87%);
$text-1: darken($bg-0, 60%);

:root.light {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};
  --bg-3: #{$bg-3};

  --border-color: var(--bg-2);

  --primary-color: #428bca;
  --hover-color: var(--text-0);
 
}