.primary-color {
  color: var(--primary-color);
}

.draft-label {
  color: var(--hover-color);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--primary-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--hover-color);
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  color: var(--hover-color);
}

p {
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 3px solid var(--border-color);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--primary-color);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a.zola-anchor {
  border-bottom: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

time {
  color: grey;
}

/* Remove post list padding */
.list>ul {
  margin: 0;
  padding: .5rem 0 0 0;
}

/* Post list */
.list-item {
  margin-bottom: 16px;
  list-style-type: none;
}

// change the line-through color
del {
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 3px;
}

@media all and (max-width: 640px) {
  .post-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;

    h1 {
      margin: 0;
      font-size: 1em;

      a {
        border-bottom: none;
      }
    }
  }
}

/* Post list */
@media all and (min-width: 640px) {
  .post-header {
    display: grid;
    gap: 1rem;
  grid-row-gap: .25rem;
    grid-template-columns: auto 1fr;
    align-items: baseline;

    h1 {
      margin: 0;
      font-size: 1em;

      a {
        border-bottom: none;
      }
    }
  }
}

/* Remove heading hashes for list titles only */
.list .post-header h1::before,
.list .post-header h2::before,
.list .post-header h3::before,
.list .post-header h4::before,
.list .post-header h5::before,
.list .post-header h6::before {
  content: none;
}

/* Remove styling from theme toggle button */
#dark-mode-toggle {
  border-bottom: none;

  &:hover {
    background-color: transparent;
  }
}

.MathJax_Display,
.MJXc-display,
.MathJax_SVG_Display {
  overflow-x: auto;
  overflow-y: hidden;
}